<div class="container">
    <div class="card p-3">
        <div class="row">
            <div class="col-3">
                <img class="img-thumbnail" *ngIf="pages.length > 0" [src]="getSanitizerForCover()" alt="">
            </div>
            <div class="col-9">
                <h3>{{currentComic.title}}</h3>
                <hr>
                <p style="line-height: 0.7em"><strong>Artist:</strong> {{currentComic.artist}}</p>
                <p style="line-height: 0.7em"><strong>Upload date:</strong> {{currentComic.date}}</p>
                <p style="line-height: 0.7em"><strong>Uploader:</strong> {{currentComic.uploader.display}}</p>
                <strong>Tags:
                    <div class="badge badge-danger m-1" *ngFor="let tag of currentComic.tags">{{tag.name}}</div>
                </strong>
                <hr>
               
                <div class="form-group" *ngIf="token.getAuthorities()[0] !== 'ROLE_UPLOADER'">
                    <button type="button" class="btn btn-primary m-2 love-button" (click)="favorite()">
                        <i class="fas fa-heart mr-1"></i><span *ngIf="isFavorited">Unfavorite</span>
                            <span *ngIf="!isFavorited">Favorite</span>
                            ({{currentComic.comicFavorites}})</button>
                    <button type="button" class="btn btn-primary read-button" (click)="navigateToRead(currentComic.id)">
                            Read issue <i class="fas fa-book ml-1"></i></button>
                </div>  
                <div class="form-group" *ngIf="token.getAuthorities()[0] === 'ROLE_UPLOADER'">
                        <button type="button" class="btn btn-primary m-2" (click)='navigateToMainList()'>
                                <i class="fas fa-arrow-left"></i> Turn back to list</button>
                        <button type="button" class="btn btn-primary" (click)='updatePageIndex()'>
                                Update pages status <i class="fas fa-check-circle"></i></button>
                </div>

                <hr>
                <div class="row">
                    <div class="col-2 comic-view">
                        <div class="the-eye">
                            <i class="fas fa-eye"></i>
                            Views
                        </div>
                        <span class="total-views">{{viewsReport.totalViews}}</span>
                    </div>
                    <div class="col-10">
                        <div style="height: 100px; width: 100%; padding: 10px">
                            <canvas #myChart width="200" height="200"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <div *ngIf="pagesChanged" class="alert alert-danger mt-2">
        Your pages' comic structure have been changed but not update on server yet, click 'Update pages status' to save your change, reload page to undo</div>
    <div *ngIf="pagesUpdated" class="alert alert-success mt-2">
        Your pages' comic structure change has been up-to-date, have a nice day sir :D</div>

    <div cdkDropList class="page-collection" *ngIf="token.getAuthorities()[0] === 'ROLE_UPLOADER'">
        <div class="card page" cdkDrag *ngFor="let page of pages; let i = index">
            <div class="card-header">
                <button class="btn btn-danger btn-block" (click)="removeFromPages(i)">Delete page {{i}}</button>
            </div>
            <img class="mt-2" [src]="getSanitizer(page.id)" alt="{{page.name}}">
            <div class="d-flex  flex-column card-body">
                <form class="mt-auto">
                    <div class="input-group mt-auto">
                        <div class="input-group-prepend">
                            <button class="btn btn-primary" (click)="movePageTo(i, indexZ.value)">Move to index</button>
                        </div>
                        <input type="number" class="form-control" name="indexZ" #indexZ>
                    </div>
                </form>
            </div>
        </div>

        <div class="card page" style="text-align: center; padding-top: 20px;">
            <input hidden type="file" class="form-control" #inputFile (change)="onFileSelected($event)">
            <span class="insert-slogan insert-slogan-special" (click)="inputFile.click()" >>> Click to <<</span>
            <div style="height: 100%; padding-top: 30%; text-align: center">
                <img  src="https://upload.wikimedia.org/wikipedia/en/8/82/Studio_Wildcard_logo.png" alt="">
                <span class="insert-slogan">Insert your new page here</span>
            </div>
        </div>
    </div>

    <div class="card mt-3 p-4" >
        <div>
            <div class="card">
                <div class="card-body p-0">
                    <textarea class="form-control non-border"></textarea>
                </div>
                <div class="card-footer">
                    <div class="float-right">
                        <div class="inline-block mr-2 text-secondary">1000</div>
                        <button class="btn btn-primary btn-sm inline-block">Comment</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-3">
            <span class="font-weight-bold small">hanazuki2010 </span>
            <span class="text-secondary small">1083 point - 2h</span>
            <br>
            <span class="mt-1">Better than beaten with the stick he was carrying</span>
            <div class="mt-1">
                <div class="text-secondary small font-weight-bold inline-block mr-2">Reply</div>
                <div class="text-secondary small font-weight-bold inline-block mr-2 text-success"><i class="fas fa-arrow-up"></i></div>
                <div class="text-secondary small font-weight-bold inline-block"><i class="fas fa-arrow-down"></i></div>
            </div>
        </div>

        
    <div class="pl-3" style="border-left: 2px solid lightgray">
        <div class="mt-3">
            <span class="font-weight-bold small">hanazuki2012 </span>
            <span class="text-secondary small">1083 point - 2h</span>
            <br>
            <span class="mt-1">@hanazuki2010  i would prefer he bang her with his "stick"</span>
            <div class="mt-1">
                <div class="text-secondary small font-weight-bold inline-block mr-2">Reply</div>
                <div class="text-secondary small font-weight-bold inline-block mr-2 text-success"><i class="fas fa-arrow-up"></i></div>
                <div class="text-secondary small font-weight-bold inline-block"><i class="fas fa-arrow-down"></i></div>
            </div>
        </div>
        <div class="mt-3">
            <span class="font-weight-bold small">hanazuki2012 </span>
            <span class="text-secondary small">1083 point - 2h</span>
            <br>
            <span class="mt-1">@hanazuki2010 Yeah, she lost an eye. That’s the proper punishment for delaying an officer for a second. Good thinking.</span>
            <div class="mt-1">
                <div class="text-secondary small font-weight-bold inline-block mr-2">Reply</div>
                <div class="text-secondary small font-weight-bold inline-block mr-2 text-success"><i class="fas fa-arrow-up"></i></div>
                <div class="text-secondary small font-weight-bold inline-block"><i class="fas fa-arrow-down"></i></div>
            </div>
        </div>
        <div class="mt-3">
            <span class="font-weight-bold small">hanazuki2012 </span>
            <span class="text-secondary small">1083 point - 2h</span>
            <br>
            <span class="mt-1">@hanazuki2010 I don't know man, a bruise seems better than a chemical burn.</span>
            <div class="mt-1">
                <div class="text-secondary small font-weight-bold inline-block mr-2">Reply</div>
                <div class="text-secondary small font-weight-bold inline-block mr-2"><i class="fas fa-arrow-up"></i></div>
                <div class="text-secondary small font-weight-bold inline-block text-danger"><i class="fas fa-arrow-down"></i></div>
            </div>
        </div>
    </div>
</div>