.card-header {
    background-color: #A62639;
    color: white;
}


.page-collection {
    margin: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.page {
    max-width: 23%;
    margin-right: 2%;
    margin-bottom: 15px;
    flex-grow: 1;
}

.page img {
    width: 100%;
}

.insert-slogan {
    font-size: 2em;
    font-family:  'Lobster', cursive;
}

.insert-slogan-special:hover {
    cursor: pointer;
    font-size: 2em;
    font-family:  'Lobster', cursive;
    color: #D32B21;;
    text-decoration: underline;
}

.love-button {
    background-color: #ff2853;
    border: none;
    font-size: 1.1em;
}

.read-button {
    background-color: #8bc34a;
    border: none;
    font-size: 1.1em;
}

.container {
    min-height: 100vh;
}