/* You can add global styles to this file, and also import other style files */
.fas { font-family: 'FontAwesome' !important; font-style: normal}

body {
    height: 100vh;
    background-color:#0D0D0D; 
}

.container {
    background-color: transparent!;
}