<div class="my-body">
    <div class="container">
        <div *ngIf="token.getAuthorities()[0] === 'ROLE_USER'">
            <button class="filter-button" (click)="updateComicListFavorite()">Show favorite list</button>
            <button class="filter-button" (click)="updateComicList()">Show all</button>
        </div>
        <hr>
        <div class="comic-collections">
            <div *ngFor="let comic of userComics" class="comic">
                <div class="image-wrapper">
                    <img [src]="getSanitizer(comic.coverId)" alt="" (click)="toDetailPage(comic.comicId)">
                </div>
                <div class="my-card-body">
                    <div class="title" (click)="toDetailPage(comic.comicId)">{{comic.title}}</div>
                </div>
            </div>
        </div>
    </div>
</div>